@model LoyaltyProgram.Models.Roles
    @{
        Layout = null;
    }


    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-8">
                    <!-- text input -->
                    <div class="form-group">
                        <label for="roleName">Role Name<span style="color:red">*</span></label>
                        @Html.Kendo().TextBoxFor(m => m.RoleName).HtmlAttributes(new { @class = "form-control", @required = "required", @id = "txtRoleName" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <!-- text input -->
                    <div class="form-group">
                        <label for="roleName">Role Description</label>
                        @Html.Kendo().TextBoxFor(m => m.RoleDescription).HtmlAttributes(new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <!-- text input -->
                    <div class="form-group">
                        <div id="appendto" class="demo-section k-content"></div>
                        <span id="staticNotification">  </span>
                    </div>
                </div>
            </div>
        </div>
      
     
      

      

        
    </div>
