@model LoyaltyProgram.ViewModels.PointRedeemHistoryViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Points Redeeem History</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    @(Html.Kendo().Grid<LoyaltyProgram.Models.PointRedeemHistory>()
                    .Name("gvPointsRedeemHistory")
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.RedeemHistoryId).Width(100).Visible(false);
                        //columns.Bound(c => c.Customer.CustomerFirstName+" "+ c.Customer.CustomerLastName).Width(300).Title("");
                         columns.Bound(c => c.Promotion.PromotionName).Width(100).Title("Promotion");
                         columns.Bound(c => c.PointsRedeemed).Width(100).Title("Points Redeemed");
                          columns.Bound(c => c.PointsRedeemedOn).Width(200).Title("Redeemed On").ClientTemplate("#= kendo.toString(PointsRedeemedOn, \"MM/dd/yyyy hh:mm tt\") #");
                    })
                    //.Scrollable()
                    .Sortable()

                            .Pageable(pageable => pageable
                      .Refresh(true)
                      .PageSizes(true)
                      .ButtonCount(5))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .Read(read => read.Action("bindPromotionRedeemHistory", "PointRedeemHistory"))
                        .PageSize(10)
                    )
                    )
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
