@model IEnumerable<LoyaltyProgram.Models.Roles>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles
{
    <style>
        .k-window-titlebar .k-window-actions {
            position: relative !important;
        }
    </style>
}

@(Html.Kendo().Grid<LoyaltyProgram.Models.Partner>()
          .Name("gvPartners")
          .Columns(columns =>
          {
              columns.Command(c => { c.Edit(); }).Width(20).Title("Action").HtmlAttributes(new { style = "text-align:center;" }).HeaderHtmlAttributes(new { style = "text-align:center;" });
              columns.Bound(c => c.PartnerId).Width(30).Visible(false);
              columns.Bound(c => c.PartnerName).Width(30).Title("Name");
              columns.Bound(c => c.PartnerLogo).Title("Image").ClientTemplate("<img src='/Content/#=PartnerLogo#' alt='IMG' Title='IMG' height='62' width='62'/>").Width(25).HtmlAttributes(new { style = "text-align:center;" }).HeaderHtmlAttributes(new { style = "text-align:center;" }).Filterable(false);
              columns.Bound(c => c.PartnerDesc).Width(100).Title("Description");
              columns.Bound(c => c.PartnerWebLink).Width(100).Title("Web Link");
          })
          .Sortable()
          .Filterable()
          .Events(events => { events.Edit("insertPopupCaption"); events.Cancel("gvonCancel"); events.DataBound("databoundEvent"); })
          .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("_CreateOrUpdate").Window(w => w.Title("Partner").Height(500).Width(430).Resizable().Name("customedit")))
          .ToolBar(toolbar => { toolbar.Create().Text("Add New Partners"); })
          .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
          .DataSource(dataSource => dataSource
              .Ajax()
              .Model(model =>
              {
                  model.Id(m => m.PartnerId);
              })
              .Events(events =>
              {

                  events.RequestEnd("onRequestEnd");
              })
               .Create("Create", "Partner")
               .Update(update => update.Action("Update", "Partner"))
              .Read(read => read.Action("Read", "Partner"))
              .PageSize(10)
          )
)

<div class="col-sm-3">

    <span id="popupNotification"></span>

</div>


@section Scripts
{
    <script>
        function ShowNotification(msg, type) {
        var popupNotification = $("#popupNotification").kendoNotification({
            autoHideAfter: 7000,
            hideOnClick: true,
            animation: {
                open: {
                    effects: "slideIn:left"
                },
                close: {
                    effects: "slideIn:left",
                    reverse: true
                }
            },
            position: {
                pinned: true,
                bottom: 60,
                right: 40
            }
        }).data("kendoNotification");
        popupNotification.show(msg, type);
        } 

         function databoundEvent(e) {
            setKendoGridButtons(e.sender.wrapper[0].id);
        }
        function gvonCancel(e) {
            setKendoGridButtons(e.sender.wrapper[0].id);
        }

        function setKendoGridButtons(gvPartners) {
            setTimeout(function () {
                $("#" + gvPartners + " .k-grid-edit").html("<span class='fa fa-pencil fa-lg'></span>").css("min-width", "10px").removeClass("k-button");
                $("#" + gvPartners + " .k-grid-delete").html("<span  class='fa fa-times fa-lg'></span>").css("min-width", "10px").removeClass("k-button ");

            });
        }
        function onRequestEnd(e) {
            if (e.type == "create") {
                $("#gvPartners").data("kendoGrid").dataSource.read();
                if (e.response != null && e.response.Errors == null) {

                  ShowNotification("Success", "success");
                }

            }
        }

        function insertPopupCaption(e) {

            if (e.model.isNew()) {
                debugger
                $('.k-grid-update').text("Create");
                $("#txtPartnerName").attr("readonly", false);
                $("#imgPartnerLogo").hide();
                $('.k-grid-update').on('click', function (event) {
                    var str = $("#txtPartnerName").val()
                    ValidateProcess(event, str, function (test) {

                        if (test == false) {
                            event.preventDefault();
                            event.stopPropagation();

                        }

                    });

                });

            }

            else {
                debugger
                e.model.dirty = true;
                $("#txtPartnerName").attr("readonly", true);
                var src = $("#partnerLogo").val();
                $("#imgPartnerLogo").attr("src", "/Content/"+src);
                $("#imgPartnerLogo").show();
                var value = $("#PartnerDesc").val();
                
                //$("#txtProjectID").attr("readonly", true);
                e.container.data("kendoWindow").bind("deactivate", function () {
                    $("#gvPartners").data("kendoGrid").dataSource.read();
                })
            }
        }
        function ValidateProcess(event, str, fn) {
        $.ajax({
            type: 'GET',
            url: "@Url.Action("CheckPartner", "Partner")?partnerName=" + str,
            dataType: 'json',
            async: false,
            success: function (data) {
            if (data > 0) {

                var staticNotification = $("#staticNotification").kendoNotification({
                    appendTo: "#appendto"
                }).data("kendoNotification");

                staticNotification.show(kendo.toString("Partner already exists"), "error");
                var container = $(staticNotification.options.appendTo);
                container.scrollTop(container[0].scrollHeight);
                fn(false);
            }
        }
        });
    }
    </Script>
}
