<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <br />
    <table width="100%">
        <tr>
            <td align="center" style="background-color:#17a2b8;color: white;">
                <span style="font-size:25px;">   Customer Contact Mail  </span>
                <br />
                <br />
            </td>

        </tr>

        <tr align="center">
            <td>
                <br />
                <br />
                Customer : [FirstName] [LastName]
                <br />
                Email Id: [username]
                <br />
                Card Number : [cardNo]
                <br />
                Issuse/Comment: [comment]
                <br />
                <br />
            </td>
        </tr>


        


    </table>
</body>
</html> 